<div>
<form action="/">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="" placeholder="Your First Name"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="" placeholder="Your Last Name"><br><br>
  <input type="submit" value="Submit">
</form> 

<a href="/users">Go to Users' page</a>
<p>
<a href="/download">Download </a>our weekly photo
</p>
</div>